@import '../../utils/config';

.content {
  padding: 0 60px;
}
.section-box-row {
  @include flex($gap: 40px);
  margin-top: 60px;
}
.filters {
  @include flex($direction: column, $gap: 20px);
}
.chart-none {
  @include font($size: 20px, $weight: $weight-semibold, $height: 24px);
  max-width: 382px;
  text-align: center;
  color: #606060;
  letter-spacing: $letter-spacing;
  margin: 228px 0 0 369px;
}
