// миксины

// миксина для реализации флекс контейнера
@mixin flex($direction: false, $justify: false, $align: false, $gap: false) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}

// миксина для настройки шрифта
@mixin font($size: false, $height: false, $weight: false) {
  @if $size {
    font-size: $size;
  }
  @if $height {
    line-height: $height;
  }
  @if $weight {
    font-weight: $weight;
  }
}

// миксина для обнуления стилей кнопки
@mixin btn {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

// миксина для обнуления стилей списков
@mixin lists {
  list-style: none;
  padding: 0;
  margin: 0;
}


// переменные

// переменные с обозначением толщины шрифта
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 600;

// переменные с обозначением цвета
$auth-btn-color: #003C96;
$black-color: #111;
$white-color: #fff;
$border-color: #E6E6E6;
$gray-color: #C4C4C4;
$chart-text-color: #555555;
