@import '../../utils/config';

// миксина для переиспользования свойств текста
@mixin reuse-text {
  @include font($size: 20px, $weight: $weight-light, $height: 24px);
}


.login {
  @include flex($direction: column, $align: center, $justify: center);
  height: 100vh;
}
.login__title {
  @include font($size: 52px, $weight: $weight-medium, $height: 52px);
  margin: 0;
  text-align: center;
  letter-spacing: -2.5px;
}

.login-form {
  margin-top: 60px;
  max-width: 480px;
  width: 100%;
}
.login-form__box {
  @include flex($direction: column);
  margin-top: 24px;
  
  &:first-of-type {
    margin-top: 0;
  }
}
.login-form__label {
  @include reuse-text;
  color: $black-color;
  margin-bottom: 8px;
}
.login-form__mess-err {
  @include font($size: 18px, $weight: $weight-light, $height: 24px);
  margin: 0;
  color: #BA1B00;
}
.login-form__box-field-eye {
  position: relative;
}
.login-form__field {
  @include reuse-text;
  padding: 0 0 0 20px;
  border: 1px solid $border-color;
  border-radius: 12px;
  height: 60px;
  outline: 0;
  color: $black-color;
}
.login-form__field_type_err {
  border-color: #FA3A19;
  
  &:focus {
    @extend .login-form__field_type_err;
    box-shadow: none;
  }
  &:hover {
    @extend .login-form__field_type_err;
  }
}
.login-form__box-btn-eye {
  @include flex($align: center);
  height: 100%;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
}
.login-form__eye-btn {
  @include btn;
  background-image: url(../../images/login/eye-show-icon.svg);
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}
.login-form__eye-btn_type_show {
  background-image: url(../../images/login/eye-hide-icon.svg);
}
.login-form__submit {
  @include reuse-text;
  @include btn;
  color: $white-color;
  background-color: $auth-btn-color;
  border-radius: 12px;
  margin-top: 40px;
  width: 100%;
  height: 60px;

  &:disabled {
    background-color: $gray-color;
    color: $white-color;
  }
}
